<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Room 25 Helper</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script type="importmap">
            {
              "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
              }
            }
        </script>
    </head>
    <body>
        <div id="app" v-cloak>
            <div class="app-grid">
                <!-- A..E -->
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div class="grid-label">A</div>
                <div class="grid-label">B</div>
                <div class="grid-label">C</div>
                <div class="grid-label">D</div>
                <div class="grid-label">E</div>
                <div>&nbsp;</div>

                <!-- Top arrows -->
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div
                    :class="{control: column !== 3}"
                    v-for="column in 5"
                    :key="`col-${column}`"
                    @click="shiftColumn(column, 1)"
                >
                  <span
                      v-if="column !== 3"
                      class="fa-solid fa-chevron-down"
                  ></span>
                </div>
                <div>&nbsp;</div>

                <!-- room rows -->
                <template
                    v-for="row in 5"
                >
                    <div class="grid-label grid-label-row">{{ row }}</div>

                    <div
                        class="control-row"
                        :class="{control: row !== 3}"
                        @click="shiftRow(row, 1)"
                    >
                        <div
                            v-if="row !== 3"
                            class="fa-solid fa-chevron-right"
                        ></div>
                    </div>

                    <!-- Actual rooms -->
                    <div
                        class="room"
                        v-for="column in 5"
                        :key="`room-${row}-${column}`"
                        @click="editRoom(column, row)"
                        :class="[
            getRoom(column, row).color,
            (current_x === column && current_y === row) ? 'active': '',
            ]"
                    >
                        {{ getRoom(column, row).note }}
                    </div>

                    <div
                        :class="{control: row !== 3}"
                        @click="shiftRow(row, -1)"
                    >
                        <span
                            v-if="row !== 3"
                            class="fa-solid fa-chevron-left"
                        ></span>
                    </div>
                </template>

                <!-- bottom arrows -->
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div
                    :class="{control: column !== 3}"
                    v-for="column in 5"
                    :key="`col-${column}`"
                    @click="shiftColumn(column, -1)"
                >
          <span
              v-if="column !== 3"
              class="fa-solid fa-chevron-up"
          ></span>
                </div>
                <div>&nbsp;</div>
            </div>

            <div
                v-if="current_room"
                class="room-edit"
            >
                <div class="room-edit-header">
                    <div style="display: flex;">
                        <div
                            style="margin: 0 2rem 0 1rem; font-size: larger; font-weight: bold; display: grid; align-items: center;">
                            <div>
                                {{ ['', 'A', 'B', 'C', 'D', 'E'][current_x] }}
                                {{ current_y }}
                            </div>
                        </div>
                        <div
                            class="room-edit-colors"
                        >
                            <div
                                v-for="color in colors"
                                :class="color"
                                @click="setCurrentColor(color)"
                            >
                                <span
                                    v-if="color === current_room.color"
                                    class="fa-solid fa-check"
                                ></span>
                            </div>
                        </div>
                    </div>
                    <a
                        href="https://cdn.1j1ju.com/medias/3a/85/e2-room-25-ultimate-rulebook.pdf"
                        target="_blank">
                        Room 25 rules (PDF)
                    </a>
                </div>

                <textarea
                    style="margin-top: 1rem;"
                    id="note"
                    ref="note_ref"
                    v-model="current_room.note"
                    aria-label="Notes"
                ></textarea>
            </div>
        </div>
        <script type="module" src="js/app.js"></script>
    </body>
</html>
